*{
    margin-top: 0;
    padding-top: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.images{
    display: flex;
    justify-content: center;
    margin-top: 150px;

}
.img{
    height: 250px;
    margin: 0 20px 0px 20px;
}
.image {
    width: auto;
    height: 1000px;
    position: absolute;
  }
  p{
    width: 10000px;
    height: 10000px;
    color: aqua;
    display: none;
    position: absolute;
    cursor: pointer;
    top: 0;
  }